body {
	font-family: 'Arvo', serif;
}

h1{
	font-family: 'Titillium Web', sans-serif;
	font-size: 40px;
	color:#808080 ;
}

#header{
	padding-bottom: 0px;
}

p {
	font-style: italic;
}

#container_right {
	float:right;
	width:50%;
}

#container_left {
	float:left;
	width:50%;
	text-align: center;
}

#chart, #slider, #genre {
	padding:2%;
}

#scale {
	width:40%;
	padding:2%;
}
