body {
	background-image: url("gray_bkgrnd.jpg");
	opacity: .8;
}

#bottom h2 {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 20px;
/*	background-color: rgba(199,208,213,.5);*/
	border-radius:6px;
	border-style: dashed;
	border-width: thin;
	background-color: #EC583A;
	padding: 20px;
	line-height: 1.5em;
}

#header h1 {
	margin-bottom: 0px;
}

#super {
	background-color: #EC583A;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 18px;
	opacity: .85;
	margin-bottom: 5%;
	padding: 10px;
	border-radius:6px;
	border-style: dashed;
	border-width: thin;
	line-height: 1.5em;
}

#super:empty{
	display: none;
}

#header{
	font-family: 'Roboto Slab', serif;
	color: #FF7148;
	font-size: 20px;
	letter-spacing: 1px;
}

#left, #right {
	float: left;
	width: 20%;
	text-align: center;
	font-family: 'Hind', sans-serif;
	color: #F5F5F5;
	letter-spacing: 1.5px;
}

#middle{
	float: left;
	width: 60%;
	text-align: center;
	font-family: 'Hind', sans-serif;
/*	background: #C7D0D5;*/
}
.label {
	display: block;
	padding: 10px;
}
#top, #bottom{
	height: auto;
	margin-top: 2%;
}

#top {
	background-color: rgba(199,208,213,.5);
	border-radius:4px;
}

.select_left {
    background-color: #93B1C6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:4px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin: 5px;
}

.select_middle {
    background-color: #93B1C6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:4px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin: 5px;
}

.select_middle:hover, .select_left:hover {
	/*border: solid black 2px;*/
	color: #000;
}

.overlay {
    fill: none;
    pointer-events: all;
}
.focus {
    fill: #93B1C6;
    stroke: steelblue;
}
.axis {
/*	    fill: black;
    stroke: #000;*/
    strokewidth: 2px;
    font: 12px, sans-serif;
	}

#menu {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.bar rect { fill: #ccc; }
.axis path { fill: none; stroke: black;}
.axis line { stroke: black;}

.axis text { 
	font-family: 'Roboto Slab', serif;
	font-size: large; 
}

#right_bottom {
	background-color: #93B1C6;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border-radius:4px;
}